{{ define "main" }}
<h1>{{ .Title }}</h1>
<table>
{{ range .Data.Pages }}
  <tr>
    <td> 
      <a href="{{ .Permalink }}">
      <img src="/{{ .Params.image }}_iko.png" width="200px" alt="{{ .Params.image }}"/>
      </a>
    </td>
    <td style="vertical-align:top;">
        {{ $dateFormat := $.Site.Params.dateFormat | default "Jan 2, 2006" }}
        {{ .PublishDate.Format $dateFormat }}
        <br/><a href="{{ .Permalink }}">{{ .Title }}</a>
    </td>
  </tr> 
{{ end }}
</table>
{{ end }}

