{{ define "main" }}
<h1>Main Topics</h1>
  <ul>
      <li>
        <a href="/categories/dwh-architecture/">DWH Architecture</a>
      </li>
      <li>
        Collecting business requirements
      </li>
      <li>
        Source file definition
      </li>
      <li>
        <a href="/categories/data-modeling/">Data modeling</a>
      </li>
      <li>
        Source to target mapping
      </li>
      <li>
        History handling
      </li>
      <li>
        Data lineage
      </li>
      <li>
        Logging
      </li>
      <li>
        DQ monitoring
      </li>
      <li>
        Data load management
      </li>
      <li>
        Source file/landing area  management
      </li>
      <li>
        Metadata/configuration management
      </li>
      <li>
        GIT - code versioning
      </li>
      <li>
        <a href="/categories/code-repository-structure/">Code repository structure</a>
      </li>
      <li>
        SQL best practices
      </li>
      <li>
        Coding rules
      </li>
      <li>
        <a href="/categories/deployment-automation/">Deployment automation</a>
      </li>
      <li>
        Bug fixing
      </li>
      <li>
        Testing
      </li>
  </ul>
{{ end }}
